.sec_hero {

	@include breakpointUp(768px) {
		height: 100vh;
		min-height: rem(540px);
		overflow: hidden;
	}

	&:before {
		
		@include breakpointUp(1024px) {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			background: $neutral1;
		}

		@include breakpointUp(1200px) {
			width: calc((100% - rem(1110px)) / 2 + rem(285px));
		}

		@include breakpointBetween(1024px, 1199px) {
			width: calc((100% - rem(940px)) / 2 + rem(129px));
		}
	}

	&__picture {

		@include breakpointUp(768px) {
			position: absolute;
			top: 0;
			bottom: 0;
		}

		@include breakpointUp(1200px) {
			left: calc((100% - rem(1110px)) / 2 + rem(285px));
			aspect-ratio: 540/800;
		}

		@include breakpointBetween(1024px, 1199px) {
			left: calc((100% - rem(940px)) / 2 + rem(129px));
			aspect-ratio: 437/700;
		}

		@include breakpointBetween(768px, 1023px) {
			left: 0;
			width: 56.902vw;
			height: 100%;
		}

		@include breakpoint(767px) {
			aspect-ratio: 375/240;
			margin-bottom: rem(32px);
		}
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__container {
		height: 100%;

		@include breakpoint(1199px) {
			display: flex;
			justify-content: flex-end;
		}

		@include breakpointBetween(768px, 1023px) {
			max-width: rem(690px);
		}
	}

	&__box {
		position: relative;

		@include breakpointUp(1200px) {
			justify-content: space-between;
			padding-top: 23.75vh;
		}

		@include breakpointBetween(768px, 1199px) {
			flex-direction: column;
			justify-content: center;
			max-width: rem(339px);
		}

		@include breakpointUp(768px) {	
			height: 100%;	
			display: flex;
		}
	}

	&__title {
		@include headingXL;

		@include breakpointBetween(768px, 1199px) {
			margin-bottom: rem(48px);
		}

		@include breakpoint(767px) {
			margin-bottom: rem(32px);
		}
	}

	&__title_line {
		display: block;

		@include breakpointUp(1200px) {
			white-space: nowrap;
			position: relative;

			&:before {
				content: attr(data-text);
				@include absolutePos;
				color: $neutral2;
				max-width: rem(285px);
				overflow: hidden;
				pointer-events: none;
			}
		}
	}

	&__content {

		@include breakpointUp(1200px) {
			max-width: rem(350px);
		}
	}

	&__text {
		@include bodyM;
		color: $neutral3;

		@include breakpointUp(1200px) {
			margin-bottom: rem(64px);
		}

		@include breakpointBetween(768px, 1199px) {
			margin-bottom: rem(48px);
		}

		@include breakpoint(767px) {
			margin-bottom: rem(32px);
		}
	}

	&__btn {
		display: inline-block;
		@include ctaMain;
	}
}