body {
	font-family: $font;
}

.app-qrcode {
	background: $grayLight;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	padding: rem(16px);

	&__box {
		background: $white;
		border-radius: rem(20px);
		padding: rem(16px) rem(16px) rem(35px) rem(16px);
		text-align: center;
		max-width: rem(320px);
	}

	&__img {
		margin: 0 auto rem(26px) auto;
		border-radius: rem(10px);
	}

	&__heading {
		font-size: rem(22px);
		font-weight: 700;
		line-height: rem(28px);
		color: $blueDark;
		margin-bottom: rem(16px);
	}

	&__text {
		font-size: rem(15px);
		line-height: rem(20px);
		color: $grayBlue;
	}

	@include breakpointUp(350px) {

		&__heading,
		&__text {
			padding: 0 rem(16px);
		}
	}
}