$primary: hsl(25, 97%, 53%);

$neutral1: hsl(0, 0%, 100%);
$neutral2: hsl(217, 12%, 63%);
$neutral3: hsl(216, 12%, 54%);
$neutral4: hsl(210, 19%, 18%);
$neutral5: hsl(215, 22%, 15%);
$neutral6: hsl(216, 12%, 8%);