.app-product {
	font-family: $font;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $primary2;
	min-height: 100%;

	@include breakpointUp(640px) {
		padding: rem(32px);
	}

	@include breakpoint(639px) {
		padding: rem(16px);
	}

	&__box {
		border-radius: rem(10px);
		overflow: hidden;
		background: $neutral2;

		@include breakpointUp(640px) {
			display: flex;	
			max-width: rem(600px);		
		}
	}

	&__img-wrapper {
		flex-basis: 50%;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		flex-basis: 50%;

		@include breakpointUp(640px) {
			padding: rem(32px);
		}

		@include breakpoint(639px) {
			padding: rem(24px);
		}
	}

	&__type {
		display: block;
		text-transform: uppercase;
		color: $neutral3;
		letter-spacing: rem(5px);
		font-size: rem(12px);
		line-height: rem(16px);
		font-weight: 500;

		@include breakpointUp(640px) {
			margin-bottom: rem(20px);
		}

		@include breakpoint(639px) {
			margin-bottom: rem(12px);
		}
	}

	&__heading {
		font-family: $fontTitles;
		font-weight: 700;
		font-size: rem(32px);
		line-height: rem(32px);
		color: $neutral1;

		@include breakpointUp(640px) {
			margin-bottom: rem(24px);
		}

		@include breakpoint(639px) {
			margin-bottom: rem(16px);
		}
	}

	&__text {
		color: $neutral3;
		font-size: rem(14px);
		line-height: rem(23px);
		font-weight: 500;

		@include breakpointUp(640px) {
			margin-bottom: rem(30px);
		}

		@include breakpoint(639px) {
			margin-bottom: rem(24px);
		}
	}

	&__price-wrapper {
		display: flex;
		align-items: center;

		@include breakpointUp(640px) {
			margin-bottom: rem(28px);
		}

		@include breakpoint(639px) {
			margin-bottom: rem(20px);
		}
	}

	&__price-offer {
		color: $primary1;
		font-family: $fontTitles;
		font-size: rem(32px);
		line-height: rem(32px);
	}

	&__price-full {
		color: $neutral3;
		font-size: rem(12px);
		line-height: rem(20px);
		margin-left: rem(20px);
		text-decoration: line-through;
	}

	&__button {
		display: flex;
		width: 100%;
		border: 0;
		align-items: center;
		justify-content: center;
		color: $neutral2;
		background: $primary1;
		border-radius: rem(8px);
		padding: rem(14px) rem(15px);
		cursor: pointer;
		@include transition(.2s);

		&:hover,
		&:focus {
			background: $neutral1;
		}

		&-icon {
			margin-right: rem(10px);
		}

		&-text {
			font-size: rem(14px);
			line-height: rem(20px);
			font-weight: 700;
		}
	}
}