.app-product {
	font-family: $font;
	display: flex;
	align-items: center;
	justify-content: center;
	background: $primary2;
	min-height: 100%;

	&__box {
		display: flex;
		max-width: rem(600px);
		border-radius: rem(10px);
		overflow: hidden;
		background: $neutral2;
	}

	&__img-wrapper {
		flex-basis: 50%;
	}

	&__img {

	}

	&__content {
		flex-basis: 50%;
		padding: rem(32px);
	}

	&__type {
		display: block;
		text-transform: uppercase;
		color: $neutral3;
		letter-spacing: rem(5px);
		font-size: rem(12px);
		line-height: rem(16px);
		font-weight: 500;
		margin-bottom: rem(20px);
	}

	&__heading {
		font-family: $fontTitles;
		font-weight: 700;
		font-size: rel(20px);
		line-height: rem(32px);
		color: $neutral1;
		margin-bottom: rem(24px);
	}

	&__text {
		color: $neutral3;
		font-size: rem(14px);
		line-height: rem(23px);
		font-weight: 500;
	}
}