.board {
	min-height: 100vh;
	background: $purple;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: rem(15px);

	&__container {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: rem(45px);
	}

	&__col {
		flex: 0 0 30%;

		&:last-child {
			text-align: right;
		}
	}

	&__button {
		@include cta;
	}
}