@mixin ctaMain() {
	color: $neutral2;

	.inner {
		display: flex;
		position: relative;
	}

	.text,
	.icon {

		&:before {
			content: "";
			@include absolutePos;
			z-index: -1;
			@include transition(.4s);
		}
	}

	.text {
		padding: rem(24px) rem(34px);
		font-family: $fontTitles;
		text-transform: uppercase;
		font-size: rem(20px);
		line-height: rem(24px);
		letter-spacing: rem(3.29px);
		font-weight: 800;
		background: $primary;
		position: relative;
		z-index: 2;
		overflow: hidden;

		&:before {			
			background: $neutral1;
		}

		&:last-child:before {
			right: rem(-56px);
		}

		&:first-child:before {
			left: rem(-56px);
		}
	}

	.icon {
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		background: $neutral1;
		width: rem(56px);
		font-size: rem(24px);

		&:before {			
			background: $primary;
		}
	}

	&:hover {

		.text {

			&:last-child:before {
				left: calc(100% + rem(56px));
			}

			&:first-child:before {
				right: calc(100% + rem(56px));
			}
		}

		.icon {

			&:last-child:before {
				right: 100%;
			}

			&:first-child:before {
				left: 100%;
			}
		}
	}
}