@mixin container {
    max-width: rem(1110px);
    margin: 0 auto;

    @include breakpoint(1199px) {
        max-width: rem(940px);
    }

    @include breakpoint(1023px) {
        max-width: rem(600px);
    }

    @include breakpoint(767px) {
        max-width: 100%;
        padding: 0 rem(16px);
    }
}

@mixin row {
    @include clearfix;
    margin: 0px rem(-10px);

    @include breakpoint(small down) {
        margin: 0;
    }
}