@mixin headingXL() {
	font-family: $fontTitles;
	font-size: rem(96px);
	line-height: rem(88px);
	text-transform: uppercase;
	font-weight: 900;
}

@mixin headingL() {
	font-family: $fontTitles;
	font-size: rem(70px);
	line-height: rem(70px);
	text-transform: uppercase;
	font-weight: 900;
}

@mixin headingM() {
	font-family: $fontTitles;
	font-size: rem(60px);
	line-height: rem(50px);
	text-transform: uppercase;
	font-weight: 900;
}

@mixin headingS() {
	font-family: $fontTitles;
	font-size: rem(36px);
	line-height: rem(36px);
	text-transform: uppercase;
	font-weight: 900;
}

@mixin bodyM() {
	font-size: rem(22px);
	line-height: rem(32px);
}

@mixin bodyS() {
	font-size: rem(18px);
	line-height: rem(28px);
}