a,
input[type="submit"] {
    @include transition($transition);
}

input,
select {
    appearance: none;
}

body {
    font-family: $fontMain;
    color: $neutral1;
}

.sr_only {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
    overflow: hidden;
}