$primary1: hsl(7, 99%, 70%);
$primary2: hsl(51, 100%, 49%);
$primary3: hsl(198, 62%, 26%);
$primary4: hsl(168, 34%, 41%);
$primary5: #a3ddcf;
$primary6: #4fcdff;
$primary7: hsl(166, 40%, 24%);
$primary8: hsl(168, 46%, 31%);
$primary9: hsl(168, 44%, 70%);

$neutral1: hsl(212, 27%, 19%);
$neutral2: hsl(213, 9%, 39%);
$neutral3: hsl(232, 10%, 55%);
$neutral4: hsl(210, 4%, 67%);
$neutral5: hsl(0, 0%, 100%);
$neutral5-25: hsl(0, 0%, 100%, .25);