*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

img {
	height: auto;
}

input, button, textarea, select {
  	font: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    padding: 0;
    font-weight: normal;
    overflow-wrap: break-word;
}

ol, ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    appearance: none;
    background: none;
    border: 0;
    cursor: pointer;
}

address {
	font-style: normal;
}