.sec_testimonials {

	@include breakpointUp(1200px) {
		padding: rem(160px) 0;		
	}
	@include breakpoint(1199px) {
		padding: rem(64px) 0;			
	}

	&__container {
		width: 100%;
		max-width: rem(1140px);
		margin: auto;
	}

	&__title {
		font-family: $fontTitles;
		font-size: rem(20px);
		line-height: rem(25px);
		color: $neutral4;
		text-transform: uppercase;
		letter-spacing: rem(5px);
		font-weight: 900;
		text-align: center;

		@include breakpointUp(1024px) {
			margin-bottom: rem(81px);
		}

		@include breakpoint(639px) {
			font-size: rem(16px);
			line-height: rem(20px);			
		}

		@include breakpoint(1023px) {
			margin-bottom: rem(64px);
		}
	}

	&__list {

		@include breakpointUp(1024px) {
			display: flex;			
		}
	}

	&__item {

		@include breakpointUp(1024px) {
			flex: 0 0 calc(100% / 3);
			padding: 0 rem(15px);
		}

		@include breakpoint(1023px) {
			
			&:not(:last-child) {
				margin-bottom: rem(64px);
			}
		}
	}
}

.art_testimonial {	
	text-align: center;

	@include breakpoint(1023px) {
		max-width: rem(500px);
		margin-left: auto;
		margin-right: auto;
		padding: 0 rem(24px);
	}

	&__img {
		width: rem(72px);
		border-radius: 50%;

		@include breakpointUp(1024px) {
			margin: 0 auto rem(58px) auto;
		}

		@include breakpoint(1023px) {
			margin: 0 auto rem(32px) auto;
		}
	}

	&__text {
		font-size: rem(18px);
		line-height: rem(32px);
		letter-spacing: rem(-.13px);
		color: $neutral2;

		@include breakpointUp(1024px) {
			margin-bottom: rem(69px);
		}

		@include breakpoint(1023px) {
			margin-bottom: rem(32px);
		}
	}

	&__author {
		display: block;
		font-family: $fontTitles;
		font-size: rem(18px);
		line-height: rem(22px);
		font-weight: 900;
		margin-bottom: rem(9px);
		letter-spacing: rem(-.12px);
	}

	&__job {
		display: block;
		font-size: rem(14px);
		line-height: rem(25px);
		font-weight: 600;
		letter-spacing: rem(-.1px);
		color: $neutral4;
	}
}